  .mat-toolbar {
    color: white;
    font-weight: 500;
    font-size: 14.5pt;
    font-family: Helvetica;
    background-color: #2d4b65;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    z-index: 100;
  }
