.location {
    background-color: lightcyan;
    padding: 10px;;
}

.item {
    box-sizing: border-box;
    padding: 10px;
    background-color: #e5e5e5;
}

.header-unit {
    background-color: #1e355e;
}

.header {
    padding: 10px;
}